        <footer>
            <p>&copy; 2024 Ichiban. Todos los derechos reservados.</p>
            <p>Linea nacional: 035044 567890</p>
            <p>Linea complementaria: 035044 567899</p>
            <p>"Cuidamos tu salud con compromiso y excelencia."</p>
            <p>
                <a href="/">Inicio</a> |
                <a href="/sobre-nosotros">Sobre nosotros</a> |
                <a href="/afiliacion">Afiliación</a> |
                <a href="/regulacion">Regulación</a> |
                <a href="/normatividad">Normatividad</a> |
                <a href="/red-atencion">Puntos de atención</a>
            </p>
        </footer>
    </body>
</html>