<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/public/images/favicon/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/public/images/favicon/favicon-16x16.png"
        />
        <link rel="manifest" href="/public/images/favicon/site.webmanifest" />
        <link rel="stylesheet" href="/public/css/style.css" />
        <title><%= pageTitle %> ‧ Ichiban</title>
    </head>
    <body>
        <nav>
            <a href="/">Inicio</a>
            <a href="/sobre-nosotros">Sobre nosotros</a>
            <a href="/afiliacion">Afiliación</a>
            <a href="/regulacion">Regulación</a>
            <a href="/red-atencion">Puntos de atención</a>
        </nav>
