<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= pageTitle %> ‧ Ichiban</title>
        <style>
            body {
                text-align: center;
                margin-top: 50px;
            }
            h1 {
                font-size: 2em;
                color: #333;
            }
            p {
                font-size: 1em;
                color: #777;
            }
            a {
                color: #007bff;
                text-decoration: none;
            }
            a:hover {
                text-decoration: underline;
            }
        </style>
    </head>
    <body>
        <h1>404 - Página no encontrada</h1>
        <p>Lo sentimos, la página que estás buscando no existe.</p>
        <p><a href="/">Volver al inicio</a></p>
    </body>
</html>
